<div class="aboutDiv">
  <div class="divImg">
    <img class="smallImg" src="../../assets/pictureSmall.png" alt="">
  </div>
  <div class="textAbout">
    <p>
      Je m’appelle Rémi FRONTIERE, 22 ans, et je suis actuellement en
      Licence Pro Développeur Multisupport en alternance sur la ville d’Annecy.
      La société Daesign m'accueille durant cette année d'alternance.
    </p>
    <p>
      Je suis diplômé d'un BTS
      <span matTooltip="Service Informatique aux Organisations" class="toolTip">SIO</span>
      option
      <span matTooltip="Solutions Logicielles et Applications Métiers" class="toolTip">SLAM</span>
      que j'ai effectué à Vichy.
    </p>
    <p>J'ai également un Bac Professionnel Technicien Menuisier Agenceur.</p>
    <!-- <p>Je suis dîplomé d'un BTS Service Informatique aux Organisations option Solutions Logicielles et Applications Métiers</p> -->
  </div>
</div>
