<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
    <button type="button" mat-icon-button (click)="showMenu = !showMenu; drawer.toggle(); ">
      <mat-icon class="mat-icon material-icons" role="img" *ngIf="!showMenu">menu</mat-icon>
    </button>
    <div class="titleHeader">
      <span>Remi Frontiere</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="body" autosize [ngClass]="{show: showMenu}" >
    <mat-sidenav #drawer class="sidenav" mode="side" cdkscrollable>
      <button class="sidenavBtnIcon" type="button" mat-icon-button (click)="showMenu = !showMenu; drawer.toggle(); ">
        <mat-icon class="mat-icon material-icons" role="img" *ngIf="showMenu">close</mat-icon>
      </button>
      <div class="imageNav">
        <img class="smallImg" src="../../assets/pictureSmall.png" alt="">
      </div>
      <div class="buttonHeader">
        <a class="sidenavBtn" type="button" mat-button href="#about" *ngIf="selectedLang=='fr'">A Propos</a>
        <button class="sidenavBtn" type="button" mat-button *ngIf="selectedLang=='uk'">About</button>
        <button class="sidenavBtn" type="button" mat-button>Contact</button>
        <button class="sidenavBtn" type="button" mat-button onclick="window.open('https://www.linkedin.com/in/r%C3%A9mi-frontiere-b88972143/','_blank')" >
          Linked<img class="icon" src="../../../assets/linkedin.png" alt="">
        </button>
        <button class="sidenavBtn" type="button" mat-button onclick="window.open('src/assets/cv.pdf', '_blank'); return false;">Cv</button>
        <button class="sidenavBtn" type="button" mat-button onclick="window.open('https://github.com/RemiFrontiere','_blank')">GitHub</button>

      </div>
      <mat-accordion>
        <mat-expansion-panel class="expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4 mat-subheader class="titleNav" *ngIf="selectedLang=='fr'">Mes projets</h4>
              <h4 mat-subheader class="titleNav" *ngIf="selectedLang=='uk'">My projects</h4>

            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="navList">
            <a mat-list-item routerLink="."><mat-icon class="navIcon">note</mat-icon>Logiciel Enregistrement Carte Grise</a>
            <a mat-list-item routerLink="."><mat-icon class="navIcon">note</mat-icon>Allier Tests</a>
            <a mat-list-item routerLink="."><mat-icon class="navIcon">note</mat-icon>DLL</a>
            <a mat-list-item routerLink="."><mat-icon class="navIcon">note</mat-icon>Logiciel Facturation</a>
            <a mat-list-item routerLink="."><mat-icon class="navIcon">audiotrack</mat-icon>Application mobile KumQuat</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-form-field class="langDiv">
        <mat-select placeholder="Langue" [(value)]="selectedLang">
          <mat-option class="option" *ngFor="let lang of langs" [value]="lang.value" (click)="selectedLang = lang.value">
            {{ lang.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="bottom">

      </div>
    </mat-sidenav>
    <div *ngIf="showMenu" class="grayFilter" (click)="drawer.toggle(); showMenu = !showMenu;"></div>
</mat-sidenav-container>
<dashboard-component [lang]="selectedLang"></dashboard-component>
