<div class="myDash">
  <div class="bgImgDiv">
    <img class="bgImg" src="../../assets/background.jpeg" alt="">
    <a mat-fab color="primary" class="bgBtn" ><i class="material-icons">keyboard_arrow_down</i></a>
  </div>
  <div id="about" class="card">
    <mat-card class="divCard">
      <mat-toolbar>
        <mat-icon class="mat-icon material-icons" role="img" color="primary">info</mat-icon>
        <p>A propos</p>
        <p *ngIf="selectedLang=='uk'">About</p>
      </mat-toolbar>
      <div class="contentCard">
        <about-component></about-component>
      </div>
    </mat-card>
  </div>
  <div id="diplome" class="card">
    <mat-card class="divCard">
      <mat-toolbar>
        <mat-icon class="mat-icon material-icons" role="img" color="primary">info</mat-icon>
        <p>Mes diplômes</p>
      </mat-toolbar>
      <div class="contentCard">
        <diplome-component></diplome-component>
      </div>
    </mat-card>
  </div>
  <div id="competence" class="card">
    <mat-card class="divCard">
      <mat-toolbar>
        <mat-icon class="mat-icon material-icons" role="img" color="primary">info</mat-icon>
        <p>Mes compétences</p>
      </mat-toolbar>
      <div class="contentCardComp">
        <competence-component *ngFor="let competence of competences" [item]="competence"></competence-component>
      </div>
    </mat-card>
  </div>
</div>
