<div class="myDash">
  <div class="bgImgDiv">
    <img class="bgImg" src="../../assets/background.jpeg" alt="">
    <a mat-fab color="primary" class="bgBtn primaryColor" (click)="scrollElement()"><i class="material-icons">keyboard_arrow_down</i></a>
  </div>
  <div id="about" class="card">
    <mat-card class="divCard">
      <mat-toolbar>
        <mat-icon class="mat-icon material-icons icon" role="img">info</mat-icon>
        <h1 *ngIf="selectedLang=='fr'" class="title">A propos</h1>
        <h1 *ngIf="selectedLang=='uk'" class="title">About</h1>
      </mat-toolbar>
      <div class="contentCard">
        <about-component [lang]="selectedLang"></about-component>
      </div>
    </mat-card>
  </div>
  <div id="diplome" class="card">
    <mat-card class="divCard">
      <mat-toolbar>
        <mat-icon class="mat-icon material-icons icon" role="img">info</mat-icon>
        <h1 *ngIf="selectedLang=='fr'" class="title">Mes diplômes - Mon parcours</h1>
        <h1 *ngIf="selectedLang=='uk'" class="title">My degrees - My background</h1>
      </mat-toolbar>
      <div class="contentCardDip">
        <iframe *ngIf="selectedLang=='fr'" src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=12RySWnuIVhEelFGNbQe9xDQGvzBYK0VA0eZ51Nr4Do8&font=Default&lang=fr&start_at_end=true&initial_zoom=0' width='100%' height='100%' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
        <iframe *ngIf="selectedLang=='uk'" src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1gE3cOjWj-llhA9WZwq9NJJkIOYMyZv90LvlwM5iO6OY&font=Default&lang=en&start_at_end=true&initial_zoom=0&start_at_slide=1' width='100%' height='100%' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
      </div>
    </mat-card>
  </div>
  <div id="competence" class="card">
    <mat-card class="divCard">
      <mat-toolbar>
        <mat-toolbar-row>
          <mat-icon class="mat-icon material-icons icon" role="img">info</mat-icon>
          <h1 *ngIf="selectedLang=='fr'" class="title">Mes compétences</h1>
          <h1 *ngIf="selectedLang=='uk'" class="title">My skills</h1>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <mat-chip-list>
            <mat-chip *ngIf="selectedLang=='fr'" (click)="selectedChip = 'Tout'" selected="true"  class="chip1">Tout</mat-chip>
            <mat-chip *ngIf="selectedLang=='uk'" (click)="selectedChip = 'Tout'" selected="true"  class="chip1">All</mat-chip>
            <mat-chip (click)="selectedChip = 'Web'" selected="true"  class="chip2">{{ chip2 }}</mat-chip>
            <mat-chip (click)="selectedChip = 'Mobile'" selected="true"  class="chip3">{{ chip3 }}</mat-chip>
          </mat-chip-list>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="contentCardComp">
        <competence-component *ngFor="let competence of myCompetences" [selectedChip]="selectedChip" [item]="competence"></competence-component>
      </div>
    </mat-card>
  </div>
  <div id="projet2" class="card">
    <mat-card class="divCard">
      <mat-toolbar>
        <mat-toolbar-row>
          <mat-icon class="mat-icon material-icons icon" role="img">info</mat-icon>
          <h1 *ngIf="selectedLang=='fr'" class="title">Mes projets</h1>
          <h1 *ngIf="selectedLang=='uk'" class="title">My projects</h1>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="contentCardProj2">
        <div class="cardProject" *ngFor="let project of myProjects">
          <projet-component [item]="project"></projet-component>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="bottom"></div>
</div>
