.myDash{
  height: 100%;
  position: absolute;
  cursor: default;
  width: 100%;
  text-align: justify;
  top: 64px;
  z-index: 1;
  overflow-y: auto;
  letter-spacing: 5px;

  .bgImgDiv{
    text-align: center;

    .bgImg{
      height: calc(100vh - 64px);
      width: 100%;
    }
    .bgBtn{
      position: absolute;
      background-color: #1976d2;
      top: calc((100vh - 64px)/2);
    }
  }

  .card{
    padding: 5%;
    .divCard{
      padding: 0;

      .icon{
        color: #1976d2;
      }
      .chip1{
        background-color: gray;
        cursor: pointer;
      }
      .chip2{
        background-color: #424242;
        cursor: pointer;
      }
      .chip3{
        background-color: #2d2d2d;
        cursor: pointer;
      }

      .title{
        margin-left: 20px;
      }
      .contentCard{
        padding: 24px;
      }
      .contentCardComp{
        padding: 24px;
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }
  p{
    color: white;
    margin: 90px;
  }
}
