<div class="myDash">
  <div class="bgImgDiv">
    <img class="bgImg" src="../../assets/background.jpeg" alt="">
    <a mat-fab color="primary" class="bgBtn primaryColor" (click)="scrollElement()"><i class="material-icons">keyboard_arrow_down</i></a>
  </div>
  <div id="about" class="card">
    <mat-card class="divCard">
      <mat-toolbar>
        <mat-icon class="mat-icon material-icons icon" role="img">info</mat-icon>
        <p *ngIf="selectedLang=='fr'" class="title">A propos</p>
        <p *ngIf="selectedLang=='uk'" class="title">About</p>
      </mat-toolbar>
      <div class="contentCard">
        <about-component></about-component>
      </div>
    </mat-card>
  </div>
  <div id="diplome" class="card">
    <mat-card class="divCard">
      <mat-toolbar>
        <mat-icon class="mat-icon material-icons icon" role="img">info</mat-icon>
        <p *ngIf="selectedLang=='fr'" class="title">Mes diplômes</p>
        <p *ngIf="selectedLang=='uk'" class="title">My qualifications</p>
      </mat-toolbar>
      <div class="contentCardDip">
        <diplome-component *ngFor="let diplome of myDiplomes" [item]="diplome"></diplome-component>
      </div>
    </mat-card>
  </div>
  <div id="competence" class="card">
    <mat-card class="divCard">
      <mat-toolbar>
        <mat-toolbar-row>
          <mat-icon class="mat-icon material-icons icon" role="img">info</mat-icon>
          <p *ngIf="selectedLang=='fr'" class="title">Mes compétences</p>
          <p *ngIf="selectedLang=='uk'" class="title">My skills</p>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <mat-chip-list>
            <mat-chip (click)="selectedChip = 'Tout'" selected="true"  class="chip1">{{ chip1 }}</mat-chip>
            <mat-chip (click)="selectedChip = 'Web'" selected="true"  class="chip2">{{ chip2 }}</mat-chip>
            <mat-chip (click)="selectedChip = 'Mobile'" selected="true"  class="chip3">{{ chip3 }}</mat-chip>
          </mat-chip-list>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="contentCardComp">
        <competence-component *ngFor="let competence of myCompetences" [selectedChip]="selectedChip" [item]="competence"></competence-component>
      </div>
    </mat-card>
  </div>
  <!-- <div id="projet" class="card">
    <mat-card class="divCard">
      <mat-toolbar>
        <mat-toolbar-row>
          <mat-icon class="mat-icon material-icons icon" role="img">info</mat-icon>
          <p *ngIf="selectedLang=='fr'" class="title">Mes projets</p>
          <p *ngIf="selectedLang=='uk'" class="title">My projects</p>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="contentCardProj">
        <div class="iconNext" (click)="previousProject()">
          <a class="bgBtn primaryColor"><i class="material-icons">keyboard_arrow_left</i></a>
        </div>
        <projet-component [item]="selectedProject"></projet-component>
        <div class="iconNext" (click)="nextProject()">
          <a class="bgBtn primaryColor" ><i class="material-icons">keyboard_arrow_right</i></a>
        </div>
      </div>
    </mat-card>
  </div> -->
  <div id="projet2" class="card">
    <mat-card class="divCard">
      <mat-toolbar>
        <mat-toolbar-row>
          <mat-icon class="mat-icon material-icons icon" role="img">info</mat-icon>
          <p *ngIf="selectedLang=='fr'" class="title">Mes projets</p>
          <p *ngIf="selectedLang=='uk'" class="title">My projects</p>
        </mat-toolbar-row>
        <!-- <mat-toolbar-row>
        </mat-toolbar-row> -->
      </mat-toolbar>
      <div class="contentCardProj2">
        <div class="cardProject" *ngFor="let project of myProjects">
          <projet-component [item]="project"></projet-component>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="bottom"></div>
</div>
