.myDash{
  height: 100%;
  position: absolute;
  width: 100%;
  text-align: justify;
  top: 64px;
  z-index: 1;
  overflow-y: auto;

  .bgImgDiv{
    text-align: center;
    
    .bgImg{
      height: calc(100vh - 64px);
    }
    .bgBtn{
      position: absolute;
      top: calc((100vh - 64px)/2);
    }
  }


  p{
    color: white;
    margin: 90px;
  }
}
