::-webkit-scrollbar-thumb {
    border-radius: 10px;
    width: 0;
    background-color: #1976d2;
}
::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #2e2e2e;
    width: 0;
}


.projet{
  height: 500px;
  width: 300px;
  font-size: 14px;
  perspective: 1500px;

  .flipper{
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
    height: 500px;
    width: 300px;
    background-color: #2e2e2e;
    .frontCard{
      height: 500px;
      width: 300px;
      cursor: pointer;

      z-index: 2;
    	/* for firefox 31 */
    	transform: rotateY(0deg);
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;

      .frontDesc{
        visibility: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 5;
        justify-content: center;
        display: flex;
        align-items: center;
        text-align: center;
        p{
          font-size: 0;
        }
      }
      img{
        height: 100%;
        width: 100%;
      }
    }
    .backCard{
      height: 500px;
      width: 300px;
      transform: rotateY(180deg);
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;

      .toolbar{
        font-size: 14px;
      }

      .title{
        text-align: center;
        width: 100%;
      }
      .content{
        overflow-y: hidden;
        height: calc(100% - 64px);
        width: 100%;
        .texts {
          overflow-y: auto;
          height: 345px;
          padding: 15px;
          text-align: center;

          .env{
            border-bottom: 1px solid;
            font-size: 10px;
          }
          h3{
            background-color: #212121;
            border-radius: 7px;
            color: #1976d2;
          }
          img{
            width: 250px;
            margin-bottom: 5px;
          }
          ul{
            text-align: left;
            li{
              font-size: 11px;
            }
          }
        }

        .bottom{
          width: 100%;
          height: 10%;
          position: absolute;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;

          button{
            height: 100%;
            background-color: #212121;
            position: absolute;
            bottom: 5px;
            width: 288px;
          }
        }
      }
    }
  }
}
.flip .flipper {
  transform: rotateY(180deg);
}
.frontCard:hover{
  .frontDesc{
    visibility: visible;
    cursor: pointer;
    .frontDescText{
      font-size: 15px;
      font-weight: 900;
      color: white;
      background-color: #212121;
      padding: 5px;
      border-radius: 15px;
    }
  }
  img{
    filter: blur(1px);
  }
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    width: 1px;
    background-color: #1976d2;
}
::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #2e2e2e;
    width: 1px;
}
