.projet{
  height: 500px;
  width: 100%;
  .toolbar{

    .title{
      text-align: center;
      width: 100%;
    }
  }
  .content{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 64px);
    width: 100%;

    .titleImg{
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      img{
        width: 100%;
      }

      .chip{
        position: absolute;
        top: 132px;
        background-color: #1976d2;
      }
    }

    .texts{

      width: 96%;
      padding: 3%;
      display: inline-block;
      justify-content: center;
      align-items: center;
      text-align: center;

      p{
        text-align: justify;
      }
      img{
        width: 250px;
      }
      a{
        color: white;
        background-color: #1976d2;
      }
    }
  }
}
