@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    padding: 2em 23em;
    background:lightgray;

}

mat-toolbar-row.mat-toolbar-row {
    justify-content: center;
    color: white;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;

    .title{
      font-weight: 700;
      font-size: 24px;
    }
    span{
      margin-left: 5%;
      margin-right: 5%;
    }
}
