.comp{
  height: 50px;
  width: 250px;
  background-color: #2d2d2d;
  margin: 15px;
  border-radius: 15px 15px 0 0;
  transform: scale(0);
  animation: growHeight 0.5s ease forwards;


  .fLign{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;

    .icon{
      height: 32px;
      width: 32px;
      margin-right: 5px;
    }
  }

  .sLign{
    .progress{
      .progress.mat-progress-bar-fill::after {
          background-color: red;
      }
    }
  }
  .progress {

  }
}


@keyframes growHeight {
  to {
    max-height: 50px;
    opacity: 1;
    transform: scale(1);
  }
}
